body{
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #F1F2EB;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
}
.header{
    background-image: url(https://images.unsplash.com/photo-1573455494060-c5595004fb6c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2040&q=80);
    background-position: center;
    padding: 95px;
    padding-top: 15px;
    display: flex;      
    flex-direction: column;
    justify-content: center;
    color: white;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
.header-logo{
    font-weight: bolder;
    font-size: larger;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 4px #001514;
}
/* .header-image{
    width: 520px;
    height:250px;;
    border: 3px;
    margin-top: 25px;
    margin-right: 150px;
    border-radius: 5px;
} */
.hc-left{
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header-button{
    width: 100px;
    padding: 10px;
    background-color: #7A7D7D;
    border-radius: 8px;
    border: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.info-img{
    width: 210px;
    height: 170px;
    border: 3px solid #001514;
    border-radius:  8px;    
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.info-items{
    text-align: justify ;
    width: 190px;
    display: flex;
    justify-content: center;
    gap: 70px;
}
.info-header{
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: bolder;
    padding-bottom: 9px;
}
.info-item{
    background-color: #d3d3d3;
    padding: 18px 22px;
    border-radius: 8px;
}
.quote-block{
    background-image: url(https://images.pexels.com/photos/1633791/pexels-photo-1633791.jpeg);
    background-position: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 65px;
    color: white;
    font-weight: bold;
    height: 200px;;
}
.quote{
    font-style: italic;
    font-size: 18px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #001514;
    width: 590px;
    padding: 9px;
}
.author{
    font-weight: bold;
    text-align: end;
    background-color: #001514;
    padding: 7px;
}
.banner{
    margin: 70px 150px;
    padding: 25px;
    background-color: #001514;
    height:90px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
}
.headline{
    font-weight: bold;
    font-size: 25px;
}
.banner-button{
    padding: 10px;
    border:3px solid red;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 125px;
    font-size: 16px;   
}
.footer{
    background-color: #001514;
    text-align: center;
    color: white;
    padding: 35px;
}
.item-heading{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}